body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

form {
    background-color: #fff;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

input {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button, 
input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #555;
}

#counterList {
    margin-top: 20px;
}

p {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
}
/* Zusätzliches CSS-Styling, um den Abmelden-Button rechts auszurichten */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
}

#userPanel {
    display: flex;
    gap: 10px;
}

#logoutButton {
    background-color: #f00;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

#logoutButton:hover {
    background-color: #d00;
}